doctype html
html(lang='en')
  head
    title= renderinput.title
    link(rel='stylesheet', href='/style')
    link(rel='manifest', href='/manifest')
    link(rel='preload', href='/font', as="font", crossorigin="anonymous")
    link(rel='apple-touch-icon', href='/favicon.png')
    script(src='./code')
    meta(name="theme-color" media="(prefers-color-scheme: dark)"  content="black")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="The World's only alarm clock made by Themodgamer3 and i use it regularly.")
  body
    div(id="invisidiv")
      div(id="smallbox") 
        h1= renderinput.servertitle
        h2= renderinput.server
      div(id="smallbox")
        h1= renderinput.clientiptitle
        h2= renderinput.clientip
      div(id="smallbox")
        h2= renderinput.settingstitle
        form(action=renderinput.buttonsettingsaction, method="get") 
          button= renderinput.buttonsettingstext
    div(id="clockbox")
      h1= renderinput.timetitle
      h1(id="ClockMain")= renderinput.exampletime
      h1(id="ClockSub")= renderinput.examplesubclocktime   
    each val,index in weatherdata 
      div
        h2= weatherdata[index].title
        div(id="weatherdiv")
          each val2, index2 in weatherdata[index].toptext
            div(id="weathersubdivs")
              h2(id="weathertexts", style="background-color: " + weatherdata[index].daycolor[index2] + ";")= weatherdata[index].daytitles[index2]
              img(src=weatherdata[index].src[index], alt="weathericon", id="weatherico")
              h2= weatherdata[index].toptext[index2]